* { margin:0; padding:0; outline: none;}

body {
	padding-bottom:1px;
	border: 1px solid transparent;
}

ul {
	li {
		display: inline-block;
		border-radius: 80px;
		cursor: default;
		font-size: 1.2em;
		width: 30%;
		text-align: center;
	}
}

.medium {
	width: 37%;
}

.timer {
	float: right;
	font-size: 1.4em;
	color: #545454;
	display:inline;
	margin: 0.5em;
	padding: 0.3em;
	border-radius:15px;
	background-color: #A8A8A8;
}

.buttons:hover { 
	background-color: #40E0D0;
}

.timer:hover {
	background-color: #800000;
}

.buttons_hover {
	background-color: #40E0D0;
}

.difficulty-div {
	float:left;
	display:inline-block;
	padding: 0.5em 1em 0.5em 1em;
	margin: 0.75em 0 0.5em 1em;
	width: 50%;
	border-radius: 80px;
	box-shadow: 0 0 10px #000;
}

.container-div {
	background: url('../img/beige001.jpg');
	padding: 0.3em;
}

.top-menu-div {
	padding: 0 0 2em 0;
	width:42%;
	margin: 0 auto;
}

.bottom-menu-div {
	padding: 1em 0 1em 1em;	
	width: 20%;
	border-radius: 80px;
	margin: 0 auto;
	margin-bottom: 2em;
	box-shadow: 0 0 10px #000;
}

button {
	font-size: 16px;
	padding: 4px 12px;
	vertical-align: middle;
	background: none;
	border: none;
	//box-shadow: 0 0 10px #000;
	border-radius: 8px;
	display:inline-block;
}

.board-div {
	width: 100%;
	position: relative;
	height: auto;
	display: block;
	z-index: 2;
	overflow: hidden;
	padding: 0 0 1em 0;
}

.fit {
	table-layout:fixed;
	width: 40%;
}

.header {
	border-bottom: 5px solid black;
	border-bottom-radius: 2em;
	border-bottom-color: #BA7F03;
	background: url('../img/header_bg_image.jpg');
	padding: 10px 10px;
	font-family: Calligraffitti;
	color: #BA7F03;
}

table {
	td {
		width: 10%;
		position:relative;
		border: 2px solid #a1a1a1;
		border-radius: 8px;
		input {
			width: 100%;
			position:absolute;
			border: none;
		    top:0;
		    bottom:0;
		    height: 100%;
		    left:0;
		    right:0;
		    text-align: center;
		    font-size: 35px;
		    font-style: italic;
		    //color: #B43004;
		    color: #0000FF;
		}
	}
  	margin: 0 auto;
  	border: 2px solid #a1a1a1;
  	border-radius: 8px;
}

td:after {
	content:'';
    display:block;
    margin-top:100%;
}

.bg-color1 {
	background-color: #D8E0CE;
}

.bg-color2 {
	background-color: #EFECE5;
}

.error-bg-color {
	background-color: #ffbdbd;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.disabled-content {
	font-style: bold;
	color: #000000;
}